<!-- carpeta: streaming/templates/streaming/movie_detail.html -->
{% extends 'netflixuax/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <h1 class="mb-4">{{ movie.title }}</h1>
            <p><strong>Fecha de lanzamiento:</strong> {{ movie.release_date }}</p>
            <p><strong>Calificación:</strong> {{ movie.vote_average }} / 10</p>
            <p>{{ movie.overview }}</p>
            {% if user.is_authenticated %}
                <button class="btn btn-primary" onclick="addToList({{ movie_id }})">Añadir a Mi Lista</button>
            {% else %}
                <a href='/auth/login' class="btn btn-primary">Inicia sesión para añadir a Mi Lista</a>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function addToList(movieId) {
        console.log(movieId);
        fetch(`/my-list/add/movie/${movieId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
        })
        .catch(error => console.error(error));
    }
</script>
{% endblock %}
